<div class="container">
  <h1 >Code Review App</h1>
          {{#if alert}}
            <div class="alert alert-success alert-dismissible mx-auto">
            <h5 class="text-center">{{alert}} </h5> 
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
            </div>
            {{/if}}

            {{!-- If any error message  --}}
            {{#if error}}
            <div class="alert alert-danger alert-dismissible mx-auto">
                {{error}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
            </div>
            {{/if}}
  <!-- Button to Open the Modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addNewItem">
    Add New Item
  </button>
  {{#if profileDetails}}
   <div class="row m-5">
    {{#each profileDetails}}
  <div class="card m-1" style="width:280px">
    <img class="card-img-top" src="/{{this.image}}" alt="Card image" height="200" width="50">
    <div class="card-body">
      <h4 class="card-title">{{this.name}}</h4>
      <p class="card-text">{{this.email}}</p>
      <p class="card-text">{{this.mobile}}</p>
      <p class="card-text">{{this.address}}</p>
      
      <div>
    <button class="btn btn-success profile-edit" id="{{this._id}}" data-toggle="modal" data-target="#editItem" > Update</button>    
    {{!-- <a href="" class="profile-edit btn btn-success" id="{{this._id}}">{{this._id}}</a> --}}
   <a href="/delete-profile/{{this._id}}"  onclick="if (confirm('Delete selected item?')){return true;}else{event.stopPropagation(); event.preventDefault();};"><button type="reset" class="btn btn-danger">Delete </button></a> 
    </div>
    </div>
     
  </div>
   {{/each}}

   </div>
   {{/if}}





  <!-- The add item modal starts here -->
  <div class="modal" id="addNewItem">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Create New Item</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
    <form action="/add-new-item" method="POST" enctype="multipart/form-data" class="was-validated">
    <div class="form-group">
      <label for="uname">Name:</label>
      <input type="text" class="form-control" id="uname" autocomplete="off" placeholder="Enter Your Name" name="uname" required>
      {{!-- <div class="valid-feedback">Valid.</div> --}}
      
    </div>
    <div class="form-group">
      <label for="uname">Email:</label>
      <input type="Email" class="form-control" name="email" id="email" autocomplete="off" placeholder="Enter Your Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
      
    </div>
    <div class="form-group">
      <label for="uname">Mobile:</label>
      <input type="text"  class="form-control" id="mobile" autocomplete="off" name="mobile" pattern="[789][0-9]{9}" placeholder="Enter Your Mobile" title="Enter 10 digits Mobile Number" required>
      {{!-- <div class="valid-feedback">Valid.</div> --}}
      
    </div>
    <div class="form-group">
      <label for="uname">Address:</label>
      <textarea class="form-control" id="address" name="address" autocomplete="off" placeholder="Enter Your Address" required ></textarea>
     
    </div>
    <div class="custom-file">
    <input type="file" class="custom-file-input" id="customFile" name="photo" required>
    <label class="custom-file-label" for="customFile">Choose file</label>
  </div>
    <br><br>
    <div class="form-group">
    <button type="submit" class="btn btn-primary">Save </button>
    <button type="reset" class="btn btn-danger">Reset </button>
    </div>
    
  </form>
        </div>
       
        
      </div>
    </div>
  </div>
<!-- The add item modal ends here-->



<!-- The Edit item model starts here -->

  <div class="modal" id="editItem">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Edit Item</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
    <form id="profile-form-edit" action="" method="POST" enctype="multipart/form-data" class="was-validated">
    <div class="form-group">
      <label for="uname">Name:</label>
      <input type="text" class="form-control" id="edit-uname" autocomplete="off" placeholder="Enter Your Name" name="uname" required>
      {{!-- <div class="valid-feedback">Valid.</div> --}}
      
    </div>
    <div class="form-group">
      <label for="uname">Email:</label>
      <input type="Email" class="form-control" autocomplete="off" name="email" id="edit-email" placeholder="Enter Your Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
      
    </div>
    <div class="form-group">
      <label for="uname">Mobile:</label>
      <input type="text"  class="form-control" autocomplete="off" id="edit-mobile" name="mobile" pattern="[789][0-9]{9}" placeholder="Enter Your Mobile" title="Enter 10 digits Mobile Number" required>
      {{!-- <div class="valid-feedback">Valid.</div> --}}
      
    </div>
    <div class="form-group">
      <label for="uname">Address:</label>
      <textarea class="form-control" autocomplete="off" id="edit-address" name="address" placeholder="Enter Your Address" required ></textarea>
     
    </div>
    <div class="form-group">
     <img src="" id="old-image" width="100" height="100">
    </div>

    <div class="custom-file">
    <input type="hidden" id="edit-old-photo" name="oldPhoto" value="">
    <input type="file" class="custom-file-input" id="customFile" name="photo">
    <label class="custom-file-label" for="customFile">Choose file</label>
  </div>
    <br><br>
    <div class="form-group">
    <button type="submit" class="btn btn-primary">Save </button>
    <button type="reset" class="btn btn-danger">Reset </button>
    </div>
    
  </form>
        </div>
       
        
      </div>
    </div>
  </div>
<!-- The edit item modal ends here-->

</div>